a.nav {
    display: block;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    background: white;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a.nav:hover {
    color: red;
}

a.currentPage {
    background: blue;
}