ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    /* background: #0069ed; */
}

li {
    display: inline-block;
}

.rightNav {
    float: right;
}