ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5rem;
    overflow: hidden;
    width: 100%;
    /* background: #0069ed; */
}


li {
    display: inline-block;
}

.rightNav {
    position: fixed;
    right: 5rem;
}